{{ define "main" }}

<h1 class="center">{{ .Title }}</h1>

{{ with .Resources.GetMatch "photo" -}}
<img src="{{ .RelPermalink }}" class="servicespic">
{{- end }}

{{ .Content }}

<h4>Consultants: </h4>
{{ range .Pages.ByTitle }}
  <article class="bio">
    {{ with (.Resources.GetMatch "photo").Resize "200x" -}}
      <img src="{{ .RelPermalink }}" class="profilepic">
    {{ end }}

    <div class="card">
      <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
      {{ .Summary }}
    </div>
  </article>
{{ end }}

{{ end }}
