{{ define "main" }}

<h1 class="center">{{ .Title }}</h1>

{{ .Content }}

<div>Contact Point: <a href="mailto:{{ .Params.Contact }}">{{ .Params.Contact }}</a></div>

{{ $topicname := .Params.tag }}
    {{ $v1 := where $.Site.Pages "Params.topics" "!=" nil }}
    {{ $v2 := where $.Site.Pages "Params.anchor" "!=" nil }}

    {{ $filtered := $v1 | intersect $v2 }}
    <div>
        <h2>Resources: </h2>
    {{ range sort $filtered ".Title" "asc" }}
        {{ if in .Params.topics $topicname }}
        <h3>{{ .Title }}</h3>
        <div>{{ .Summary }}</div>
            {{ if .Truncated }}
            <div>
                <a href="{{ .RelPermalink }}">Read More…</a>
            </div>
            {{ end }}
        {{ end }}
    {{ end }}
    </div>

{{ end }}
