{{ define "main" }}

<h1 class="center">{{ .Title }}</h1>

{{ with .Resources.GetMatch "photo" -}}
<img src="{{ .RelPermalink }}" class="servicespic">
{{- end }}

{{ .Content }}

{{ with .Site.GetPage .Params.Contact }}
<div>Contact Point: <a href="mailto:{{ .Params.Email }}">{{ .Params.Email }}</a></div>
{{ with .Params.Phone }}
<div>Phone: {{ . }}</div>
{{ end }}
{{ end }}

<h2>Consultants: </h2>
{{ range .Pages.ByTitle }}
  <article class="bio">
    {{ with .Resources.GetMatch "photo" -}}
      <img src="{{ .RelPermalink }}" class="profilepic">
    {{ end }}

    <div class="card">
      <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
      {{ .Summary }}
    </div>
  </article>
{{ end }}

{{ end }}
