:root {
    --main-color: #214478;
    --dark-text-color: #137;
    --light-text-color: #78a;
    --link-color: #2c5aa0;
    --background-color: #f5f6f6;
    --border-color: #bcd;
    --xal-color-1: #2c5aa0;
    --xal-color-2: #214478;
    --xal-color-3: #5f8dd3;
}

.xal-color-1 {
    fill: #2c5aa0;
}
.xal-color-2 {
    fill: #214478;
}
.xal-color-3 {
    fill: #5f8dd3;
}

.servicebox svg {
    width: 60px;
    height: 60px;
    fill: #2c5aa0;
}

html {
    height: 100%;
    background-color: var(--background-color);
}

body {
    font-family: monospace;
    font-size: 18px;
    line-height: 1.5;
    color: var(--main-color);
    margin: 0;
    display: grid;
    min-height: 100%;
    grid-template-columns: 2fr 3fr 2fr;
    grid-template-rows: auto 1fr auto;
}

@media(max-width: 1300px) {
    body {
        grid-template-columns: 2em 1fr 2em;
        font-size: 14px;
    }
}

.mobile-footer {
    display: none;
    text-align: center;
}

p {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

h2 {
    margin-top: 1em;
    margin-bottom: .2em;
}

h1,
h2,
strong {
    color: var(--dark-text-color);
}

a {
    color: var(--link-color);
}

a.clear {
    text-decoration: none;
    color: var(--main-color);
}

nav > a {
    padding: 1em;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

main {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    text-align: justify;
    flex-direction: column;
    justify-content: center;
}

.box {
    text-align: center;
}

.box > span {
    display: block;
}

main img {
    display: flex;
    align-self: center;
}

header {
    grid-row: 1;
}


header, footer {
    text-align: center;
    grid-column: 1 / 4;
    padding: 1.5em;
}

footer {
    grid-row: 3;
    color: var(--light-text-color);
}

details > summary {
    cursor: pointer;
}

dt {
    font-weight: bold;
}

ul {
    margin-top: .2em;
}

img {
    max-height: 40vh;
    max-width: 100%;
    margin: 0 auto;
    padding-top: 1.3em;
    padding-bottom: 1.5em;
}

.logo {
    height: 17em;
    max-width: 90vw;
    max-height: 40vw;
}

.splash {
    display: flex;
    flex-direction: column;
    min-height: 50%;
    justify-self: center;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.center {
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.bio {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto auto;
    grid-template-areas: "photo bio" "nothing bio";
    column-gap: 2em;
    padding-bottom: 3em;
}

.center-span {
    vertical-align: middle;
}

.servicebox {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    grid-auto-rows: auto;
    max-width: 800px;
    text-align: left;
}


@media(max-width: 700px) {
    .bio {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: "photo" "bio";
    }

    .hide-if-mobile {
      display: none;
    }

    .mobile-footer {
        display: grid;
    }

    .servicebox {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(80px, auto);
    }
}

.bio h3, .bio img {
    padding-top: 0;
    margin-top: 1rem;
}

.bio img {
    grid-area: photo;
    filter: grayscale(100%);
}

.bio .card {
    grid-area: bio;
}

.byline {
    color: var(--light-text-color);
}

.more {
    margin-top: 1em;
}

@media(display-mode: fullscreen) {
    :root {
        --background-color: #001510;
        --main-color: #5fd37d;
        --dark-text-color: #8fefad;
        --light-text-color: #7a7;
        --link-color: #5fd37d;
        --strong-text: #9fffbd;
    }
    .xal-color-1 {
        fill: #2ca05a;
    }
    .xal-color-2 {
        fill: #217844;
    }
    .xal-color-3 {
        fill: #5fd38d;
    }
    h1 {
        text-shadow: 0 0 3px var(--strong-text);
    }
    h2, h3, strong, dt {
        color: var(--dark-text-color);
        text-shadow: 0 0 2px var(--strong-text);
    }
    a:hover {
        text-shadow: 0 0 2px var(--strong-text);
        text-decoration: none;
    }
    a {
        color: var(--strong-text);
        text-decoration: none;
    }
    nav > a:hover {
        text-decoration: none;
    }
    .splash p:after {
        content: '█';
        animation: 1s blink step-end infinite;
        margin-left: 3px;
    }
    @keyframes "blink" {
        from, to {
            color: transparent;
            text-shadow: none;
        }
        50% {
            color: var(--main-color);
            text-shadow: 0 0 2px var(--strong-text);
        }
    }
}
