:root {
    --main-color: #333;
    --header-color: #214478;
    --dark-text-color: #137;
    --light-text-color: #78a;
    --link-color: #2c5aa0;
    --background-color: #fff;
    --border-color: #bcd;
    --xal-color-1: #2c5aa0;
    --xal-color-2: #214478;
    --xal-color-3: #5f8dd3;
    --main-font: sans-serif;
    --header-font: sans-serif;
}

.xal-color-1 {
    fill: #2c5aa0;
}
.xal-color-2 {
    fill: #214478;
}
.xal-color-3 {
    fill: #5f8dd3;
}

.servicebox svg {
    width: 60px;
    height: 60px;
    fill: #2c5aa0;
}

html {
    height: 100%;
    background-color: var(--background-color);
}

body {
    font-family: var(--main-font);
    font-size: 18px;
    line-height: 1.4;
    color: var(--main-color);
    margin: 0;
    display: grid;
    min-height: 100%;
    grid-template-columns: auto 80ex auto;
    grid-template-rows: auto 1fr auto;
}

@media(max-width: 1300px) {
    body {
        grid-template-columns: 2em 1fr 2em;
    }
}

.mobile-footer {
    display: none;
    text-align: center;
}

p {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

h2 {
    margin-top: 1em;
    margin-bottom: .2em;
}

h1,
h2,
h3,
strong {
    font-family: var(--header-font);
    color: var(--dark-text-color);
}

a {
    font-family: var(--header-font);
    text-decoration: none;
    color: var(--link-color);
}

a.clear {
    text-decoration: none;
    color: inherit;
}

nav > a {
    padding: 1em;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

main {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main img {
    display: flex;
    align-self: center;
}

header {
    grid-row: 1;
}


header, footer {
    text-align: center;
    grid-column: 1 / 4;
    padding: 1.5em;
}

footer {
    font-family: var(--header-font);
    grid-row: 3;
    color: var(--light-text-color);
}

details > summary {
    cursor: pointer;
}

ul.no-bullets {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

dt {
    font-weight: bold;
}

ul {
    margin-top: .2em;
}

ul.no-bullets img {
    height: 1.5em;
    width: auto;
    border: 0;
    padding: 0.5em;
}

img {
    max-height: 40vh;
    max-width: 100%;
    margin: 0 auto;
    padding-top: 1.3em;
    padding-bottom: 1.5em;
}

.logo {
    height: 17em;
    max-width: 90vw;
    max-height: 40vw;
}

.center {
    text-align: center;
}

.bio {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto auto;
    grid-template-areas: "photo bio" "nothing bio";
    column-gap: 2em;
    padding-bottom: 2em;
}

.servicebox {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    grid-auto-rows: auto;
    max-width: 100%;
}


@media(max-width: 700px) {
    body {
        font-size: 14px;
    }
    .bio {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: "photo" "bio";
    }

    .hide-if-mobile {
        display: none;
    }

    .mobile-footer {
        display: grid;
    }

    .servicebox {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(80px, auto);
    }
}

.bio h3, .bio img {
    padding-top: 0;
    margin-top: 1rem;
}

.bio img {
    grid-area: photo;
    filter: grayscale(100%);
}

.bio .card {
    grid-area: bio;
}

.byline {
    color: var(--light-text-color);
}

.more {
    margin-top: 1em;
}

@media(prefers-color-scheme: dark) {
    :root {
        --background-color: #252525;
        --main-color: #ccc;
        --header-color: #3771c8;
        --dark-text-color: #87aade;
        --light-text-color: #888;
        --link-color: #87aade;
    }
    .servicebox svg {
        fill: #5f8dd3;
    }
    .xal-color-1 {
        fill: #5f8dd3;
    }
    .xal-color-2 {
        fill: #3771c8;
    }
    .xal-color-3 {
        fill: #87aade;
    }
}
