{{ define "main" }}

<h1 class="center">{{ .Title }}</h1>

{{ with .Resources.GetMatch "photo" -}}
<img src="{{ .RelPermalink }}" class="profilepic">
{{- end }}

{{ .Content }}

<p>
{{ $taxo := "services" }}
{{ with .Param $taxo }}
    <strong>Service{{ if gt (len .) 1 }}s{{ end }}:</strong>
    {{ range $index, $service := . }}
        {{- if gt $index 0 }}, {{ end -}}
        {{- with $.Site.GetPage (printf "/%s/%s" $taxo $service) -}}
            <a href="{{ .Permalink }}">{{ $service }}</a>
        {{- end -}}
    {{- end -}}
{{ end }}
</p>

<ul>
  {{ with .Params.Role -}}
  <li>{{ . }}
  {{- end}}
  {{ with .Params.Linkedin -}}
  <li><a href="{{ . }}">LinkedIn</a>
  {{- end }}
  {{ with .Params.Email -}}
  <li><a href="mailto:{{ . }}">{{ . }}</a>
  {{- end }}
</ul>

{{ end }}
