{{ define "main" }}

<h1 class="center">{{ .Title }}</h1>

{{ with (.Resources.GetMatch "photo").Resize "500x" -}}
<img src="{{ .RelPermalink }}" class="profilepic">
{{- end}}

<div class="center">
<ul class="no-bullets">
  {{ with .Params.Role -}}
  <li>{{ . }}
  {{- end}}
  {{ with .Params.Phone -}}
  <li>Phone: {{ . }}
  {{- end }}
  {{ with .Params.Email -}}
  <li><a href="mailto:{{ . }}">{{ . }}</a>
  {{- end }}
  {{ with .Params.Linkedin -}}
  <li><a href="{{ . }}" target="_blank"><img src="/img/LI-In-Bug.png"></a>
  {{- end }}
</ul>
</div>

<section>
{{ .Content }}
</section>

<section>
{{ $taxo := "services" }}
{{ with .Param $taxo }}
    <h3>Service{{ if gt (len .) 1 }}s{{ end }}:</h3>
        <ul>
    {{ range $index, $service := . }}
        {{- with $.Site.GetPage (printf "/%s/%s" $taxo $service) -}}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a>
        {{- end -}}
    {{- end -}}
    </ul>
{{ end }}
</section>

{{ end }}
