
<footer>
	<span class="hide-if-mobile">{{ (.Site.GetPage .Site.Params.director).Params.Phone }} | <a href="https://matrix.to/#/#xal:matrix.org?via=matrix.org">#xal:matrix.org</a> | post@expertanalytics.no</span>
    <div class="mobile-footer">
      <a href="tel:{{ replace (.Site.GetPage .Site.Params.director).Params.Phone " " ""  }}" class="clear">{{ (.Site.GetPage .Site.Params.director).Params.Phone }}</a>
	  <a href="https://matrix.to/#/#xal:matrix.org?via=matrix.org" class="clear">#xal:matrix.org</a>
      <a href="mailto:post@expertanalytics.no" class="clear">post@expertanalytics.no</a>
    </div>
</footer>
