<header>
  <nav>
    {{- range .Site.Menus.main }}
    <a href="{{ .URL }}">{{ .Name }}</a>
    {{- end }}
    <form action="/search" method="GET" class="search-form">
      <input autocomplete="off" id="search-field" class="search-field" type="text" name="q" placeholder="Search..."/>
      <div class="search-popup-container">
        <div id="search-popup" class="search-popup">
          <div id="search-popup-content"></div>
        </div>
      </div>
    </form>
  </nav>
</header>

<script src="/elasticlunr.min.js"></script>
{{ $p := slice }}
{{ range .Site.Pages }}
  {{ $post := dict "link" .RelPermalink "title" .Title "content" (substr .Plain 0 200) "tags" .Params.tags -}}
  {{ $p = $p | append $post -}}
{{ end }}
<script>
const posts = JSON.parse(
    {{ $p | jsonify }}
);
</script>
<script type="application/x-javascript" src="/search_header.js"></script>
