{{ define "main" }}
<div class="center">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" class="logo">
    <path d="m 64 20 -25.5 51 -19 0 25.5 -51 z" class="xal-color-1" />
    <path d="m 65.5 23 15 30 -9.5 19 -15 -30 z" class="xal-color-2" />
    <path d="m 29 2 11 22 -9.5 19 -11 -22 z m 23.5 47 15 30 -9.5 19 -15 -30 z" class="xal-color-3" />
  </svg>
</div>
<h1 class="center">Expert Analytics</h1>
  {{ .Content }}
  <div class="servicebox center">
    {{ range .Params.boxes }}
    <a href="{{ .link }}" class="box">{{ readFile .icon | safeHTML }}<div>{{ .text }}</div></a>
    {{ end }}
  </div>

{{ end }}
